input,
input:focus{
	border: 1px #ccc solid  !important;
	box-shadow: none !important;/* 阴影设置 */
	outline: none !important;
}
.input-group-btn.btn:focus,
.input-group-btn.btn.active:focus,
.input-group-btn:active:focus,
.input-group-btn.btn.focus,
.input-group-btn:active.focus,
.input-group-btn.btn.active.focus{
	outline: none !important;
	box-shadow: none !important;
}
.input-group-btn.btn:hover{
	background: #337ab7 !important;
	background-color: #2e6da4 !important;;
}
.fromupdate{
	margin-top: 40px;
}
.btn-lg, .btn-group-lg > .btn{
	border-radius: 0px;
}